body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


.header-container {
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    z-index: 10000;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2c3e50;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1%;
}

.header .title {
    font-weight: bold;
    color: #ecf0f1;
    font-size: 1rem;
    max-width: 50%;
    margin: 0;
}

.header-navbar {
    flex: 2;
}

.nav {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    margin: 0 5px;
    position: relative;
}

.nav-link {
    color: #ecf0f1;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.nav-item.active .nav-link {
    background-color: #3498db;
    color: #fff;
}

.nav-link:hover {
    background-color: #2980b9;
    color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-navbar {
        width: 100%;
    }

    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-item {
        margin: 5px 0;
    }
}

/* Loader styles */
.loader {
    width: 100%;
    height: 100%;
    background-color: rgba(249, 249, 249, 1);
    position: fixed;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img {
    width: 10%;
}


.container {
    background-color: rgba(249, 249, 249, 1);
}




.simulation-result {
    padding: 2%;
    margin: 1%;
    box-shadow: 1px 1px 20px 1px #000;
    border-radius: 5px;
    background-color: #fff;
}

.statistics {
    display: flex;
}


.statistics-body {
    width: -webkit-fill-available;
    height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;

    transition: 0.5s;
}

.statistics-body.open {
    margin-left: 35%;
    transition: 0.2s;
}


.statistics-drawer {
    width: 0%;
    margin-left: -35%;

    position: absolute;
    background-color: #ecf0f1;

    height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;

    transition: 0.5s;
}

.statistics-drawer.open {
    width: 35%;
    margin-left: 0;
    transition: 0.2s;
}



.statistics-drawer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3% 3%;
}









.cards {
    display: flex;
    align-items: center;
}


.card {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 1px 1px 10px 1px #00000067 !important;
}


.card-title {
    padding: 10px !important;
}

.card-title .MuiTypography-root {
    font-size: 20px !important;
}


.card-content {
    padding: 20px !important;
    font-weight: bold;
    font-size: 20px;
}



.icon-bg {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.icon-bg .MuiSvgIcon-root {
    font-size: 300px;
    color: #2c3e50;
}

.icon-bg-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.icon-bg-msg {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #2c3e50;
}


.recommendations-container {
    margin: 20px;
}

.recommendations-title {
    margin-bottom: 10px;
    font-weight: bold;
}

.recommendation-list {
    padding-left: 20px; /* Indent for list dots */
}

.recommendation-item {
    display: list-item; /* Ensure items are displayed as list items */
}
